table
{ 
  height: auto; 
  width: 540px; 
  padding: 16px; 
  margin: 0px auto 0px auto; 
  display: block; 
  background: rgba(105, 53, 46, 0.2); 
  color: rgba(0, 0, 0, 1.0); 
  border-top: 9px; 
  border-left: 4px; 
  border-right: 3px; 
  border-bottom: 3px; 
  border-color: rgba(0, 0, 0, 1.0); 
  border-style: solid; 
  border-radius: 6px 18px 6px 7px; 
}