/* test for res
@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    
}
*/

#myDataTable
{ 
  height: auto; 
  width: auto;
  padding: 0; 
  margin: 0 auto; 
  color: #000; 
  border: 3px solid #0567FA;
  border-radius: 5px;
  border-spacing: 0;
  border-collapse:collapse;
  /* no copy and paste or select */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#myDataTable td {
	vertical-align: top;
	padding: 10px;
}

#myDataTable th {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	background: #0567FA;
	color: #FFF;	
}

.rowGroup {
	border-top: 2px solid #0567FA;
	height: 70px;
}

td span {
	width: 40px;
	text-align:center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.IncremBtn {
width: 130px;
height: 50px;
border: none;
margin: 0;
padding: 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
}

.MISC2{
width: 130px;
height: 50px;
border: none;
margin: 0;
padding: 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFF00), color-stop(50%,#F7F8E0), color-stop(100%,#FFFF00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #FFFF00 0%,#F7F8E0 50%,#FFFF00 100%); /* Chrome10+,Safari5.1+ */
}

.MISC{
width: 130px;
height: 50px;
border: none;
margin: 0;
padding: 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
}

.Red{
width: 130px;
height: 50px;
border: none;
margin: 0;
padding: 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DF0101), color-stop(50%,#F5A9A9), color-stop(100%,#DF0101)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #DF0101 0%,#F5A9A9 50%,#DF0101 100%); /* Chrome10+,Safari5.1+ */
}

.SiteData{
	width: 400px;
}
.colYes, .colNo, .colUnk {
	width: 200px;
}

.colType{
	width: 120px;
}
.colPosition{
	width: 20px;
}
